<div>
    <h2 id="page-heading">
        <span jhiTranslate="demoApp.solicitudes.home.title">Solicitudes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-solicitudes" [routerLink]="['/solicitudes/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="demoApp.solicitudes.home.createLabel">
            Create new Solicitudes
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="solicitudes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="id_solicitudes"><span jhiTranslate="demoApp.solicitudes.id_solicitudes">Id Solicitudes</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombre_corto"><span jhiTranslate="demoApp.solicitudes.nombre_corto">Nombre Corto</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="apellido"><span jhiTranslate="demoApp.solicitudes.apellido">Apellido</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fecha_Registro"><span jhiTranslate="demoApp.solicitudes.fecha_Registro">Fecha Registro</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let solicitudes of solicitudes ;trackBy: trackId">
                <td><a [routerLink]="['/solicitudes', solicitudes.id, 'view' ]">{{solicitudes.id}}</a></td>
                <td>{{solicitudes.id_solicitudes}}</td>
                <td>{{solicitudes.nombre_corto}}</td>
                <td>{{solicitudes.apellido}}</td>
                <td>{{solicitudes.fecha_Registro | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/solicitudes', solicitudes.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/solicitudes', solicitudes.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'solicitudes/'+ solicitudes.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="solicitudes && solicitudes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
