<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="solicitudes">
            <h2><span jhiTranslate="demoApp.solicitudes.detail.title">Solicitudes</span> {{solicitudes.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="demoApp.solicitudes.id_solicitudes">Id Solicitudes</span></dt>
                <dd>
                    <span>{{solicitudes.id_solicitudes}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.solicitudes.fecha_Registro">Fecha Registro</span></dt>
                <dd>
                    <span>{{solicitudes.fecha_Registro}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.solicitudes.solicitante">Solicitante</span></dt>
                <dd>
                    <span>{{solicitudes.solicitante}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.solicitudes.tipoSolicitud">Tipo Solicitud</span></dt>
                <dd>
                    <span>{{solicitudes.tipoSolicitud}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.solicitudes.personaASustituir">Persona A Sustituir</span></dt>
                <dd>
                    <span>{{solicitudes.personaASustituir}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.solicitudes.direccion">Direccion</span></dt>
                <dd>
                    <span>{{solicitudes.direccion}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.solicitudes.unidadNegocio">Unidad Negocio</span></dt>
                <dd>
                    <span>{{solicitudes.unidadNegocio}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.solicitudes.ceco">Ceco</span></dt>
                <dd>
                    <span>{{solicitudes.ceco}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.solicitudes.reportaA">Reporta A</span></dt>
                <dd>
                    <span>{{solicitudes.reportaA}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.solicitudes.servicio">Servicio</span></dt>
                <dd>
                    <span>{{solicitudes.servicio}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.solicitudes.periodosAsignacion">Periodos Asignacion</span></dt>
                <dd>
                    <span>{{solicitudes.periodosAsignacion}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.solicitudes.nombreCandidatoPropuesto">Nombre Candidato Propuesto</span></dt>
                <dd>
                    <span>{{solicitudes.nombreCandidatoPropuesto}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.solicitudes.proveedorCandidatoPropuesto">Proveedor Candidato Propuesto</span></dt>
                <dd>
                    <span>{{solicitudes.proveedorCandidatoPropuesto}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.solicitudes.disponibilidadViajar">Disponibilidad Viajar</span></dt>
                <dd>
                    <span>{{solicitudes.disponibilidadViajar}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.solicitudes.experienciaSectorBancario">Experiencia Sector Bancario</span></dt>
                <dd>
                    <span>{{solicitudes.experienciaSectorBancario}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.solicitudes.nivelBancario">Nivel Bancario</span></dt>
                <dd>
                    <span>{{solicitudes.nivelBancario}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.solicitudes.prioridad">Prioridad</span></dt>
                <dd>
                    <span>{{solicitudes.prioridad}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.solicitudes.tipoRecurso">Tipo Recurso</span></dt>
                <dd>
                    <span>{{solicitudes.tipoRecurso}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.solicitudes.experienciaBancaria">Experiencia Bancaria</span></dt>
                <dd>
                    <span>{{solicitudes.experienciaBancaria}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.solicitudes.skillTecnico">Skill Tecnico</span></dt>
                <dd>
                    <span>{{solicitudes.skillTecnico}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.solicitudes.obligatorio">Obligatorio</span></dt>
                <dd>
                    <span>{{solicitudes.obligatorio}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.solicitudes.experiencia">Experiencia</span></dt>
                <dd>
                    <span>{{solicitudes.experiencia}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.solicitudes.softSkill">Soft Skill</span></dt>
                <dd>
                    <span>{{solicitudes.softSkill}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.solicitudes.nivelSoftSkill">Nivel Soft Skill</span></dt>
                <dd>
                    <span>{{solicitudes.nivelSoftSkill}}</span>
                </dd>
                <dt><span jhiTranslate="demoApp.solicitudes.apellidoCandidatoPropuesto">Apellido Candidato Propuesto</span></dt>
                <dd>
                    <span>{{solicitudes.apellidoCandidatoPropuesto}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/solicitudes', solicitudes.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
